<!-- providers Section -->
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">At Your Service</h2>
    <hr class="divider my-4" />
    <a href="/providers/add-provider/" class="btn btn-info my-2">Add New
      Provider</a>
    <!--here providers/add-providers is not path its the url it will take this to... its already in providers page and next go to add-provider-->
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Position</th>
            <th scope="col">Company</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each providers}}
          <tr>
            <td scope="row">{{id}}</td>
            <!--instead of dng providers[0].id-->
            <td scope="row">{{firstname}}</td>
            <td scope="row">{{lastname}}</td>
            <td scope="row">{{position}}</td>
            <td scope="row">{{company.company_name}}</td><!--becoz company is object-->
            <td scope="row">
              <a href="/providers/details/{{id}}" class="btn btn-info btn-sm">More info...</a>
              <a href="/providers/edit/{{id}}" class="btn btn-secondary btn-sm">Edit</a>
              <a href="#myModal{{id}}" class="btn btn-danger btn-sm" data-toggle="modal">Delete</a>
              <!--to trigger it we need that data toggle and go to that class-->
              <!--to redirect it to below div-->
              <!--to be precise of which id we are deleting because all delete buttons redirect to mymodal so we add id -->
            </td>
          </tr>
          <!-- Modal Window - Confirmation -->
          <div id="myModal{{id}}" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                  </div>
                  <h4 class="modal-title">Are you sure?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Do you really want to delete these records? This process
                    cannot be undone.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-md" data-dismiss="modal">Cancel</button>

                  <a href="/providers/delete/{{id}}" type="button" class="btn btn-danger btn-md">Delete</a>

                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</section>
